@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

/* Common styles */
.btn-join {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f00;
  border: none;
  cursor: pointer;
}

.btn-join:hover {
  background-color: rgb(228, 0, 0);
}

.red-text {
  color: #f00;
}

/* Header section */
header {
  margin: 50px auto 120px auto;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./Resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.banner-title {
  margin-top: 177px;
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.banner-description {
  margin-top: 0px;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* Offer section */
.offer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 120px 0px;
}

.offer-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.offer-des1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.offer-des2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

.offer-image {
  max-width: 802.9px;
}

/* Party section */
.party-section {
  margin: 0px auto 120px auto;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./Resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
}

.party-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 138px;
}

.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.party-des {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
  /* max-width: 679px; */
  margin-right: 40px;
}

.img-2024 {
  margin: 68px 138px 68px 0px;
  width: 319.83px;
  height: 464.662px;
}

/* Party details section */
.party-details {
  margin: 0px auto 120px auto;
  max-width: 1320px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

.detail-info {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 48px;
}

.btn-join-details {
  margin-bottom: 110px;
}

/* New offer section */
.new-offer {
  margin: 0px auto 120px auto;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
}

.new-offer-context {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.new-offer-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.new-offer-details {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 22px;
}

.new-offer-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.new-offer-image {
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 50px;
  margin-left: 70px;
  margin-right: 120px;
}

.new-offer-celebration {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.new-offer-celeb-title {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.new-offer-celeb-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 42px;
}

.hny-sticker {
  width: 140px;
  height: 140px;
}

/* Holiday sale section */
.holiday-sale {
  max-width: 1320px;
  height: 986px;
  margin: 0px auto 120px auto;
  position: relative;
}

.sale-context {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.sale-details {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 28px;
}

.sale-des {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0px 120px 0px 120px;
}

.red-rec {
  position: absolute;
  bottom: 0px;
}

.visual-person {
  position: absolute;
  right: 0px;
  bottom: 229px;
}

.visual-50per {
  position: absolute;
  right: 276px;
  bottom: 280px;
}

.visual-gift {
  width: 796px;
  position: absolute;
  left: 0px;
  bottom: 25px;
}

/* Gift section */
.gift-section {
  margin: 0px auto 120px auto;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
}

.gift-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.gift-details {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 22px;
}

.gift-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}

.gift-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
